body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.menu {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78px;
}

.menu :hover{
  color: greenyellow;
}

.menu_text a{
  text-decoration: none;
  color: #FF0000;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
}

.menu_text {
  margin-right: 72px;
}

.menu :last-child {
  margin-right: 0;
}

.section-img {
  background: url("River.jpg") no-repeat ;
  height: 789px;
  background-size: 100%;
}

.text h2{
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  margin: 49px 0 10px 0;
  letter-spacing: 3.3px;
  text-transform: uppercase;
}

.descrip {
  margin-top: 28px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  padding: 0 67.5px;
}

.button {
  background: #FF0000;
  border-radius: 4px;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  border: 4px;
  padding: 18px 42px;
  display: flex;
  align-items: center;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  margin: 66px auto;
}

.button :hover {
  cursor: pointer;
}

.conf {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 2.4px;
  float: right;
  margin-right: 105px;
  margin-top: 16px;
}